<html>
<head>
    <script src="https://d1ipfkx2xm6eh3.cloudfront.net/plugins/trello/power-up.min.js?v=1.3.0"></script>
    <link rel="stylesheet" href="https://d1ipfkx2xm6eh3.cloudfront.net/plugins/trello/power-up.css?v=1.3.0">
    <style>
      select { height: 30px; }
      * { text-align: center; }
    </style>
    <script src="https://d1ipfkx2xm6eh3.cloudfront.net/plugins/jquery/jquery-1.7.1.min.js?v=1.3.0"></script>
    <script src="https://d1ipfkx2xm6eh3.cloudfront.net/plugins/trello/client.js?v=1.3.0"></script>
</head>
<body>
<div id="content">
    <p>Please authorize your account</p>
</div>
<button id="auth-btn" type="submit" class="mod-primary">Authorize</button>
    <script src="https://d1ipfkx2xm6eh3.cloudfront.net/js/auth.js?v=1.3.0" type="text/javascript"></script>
</body>
</html>