<html>
<head>
    <!--<script src="https://d1ipfkx2xm6eh3.cloudfront.net/plugins/trello/power-up.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://d1ipfkx2xm6eh3.cloudfront.net/plugins/trello/power-up.css">-->
    <script src="https://d1ipfkx2xm6eh3.cloudfront.net/plugins/trello/power-up.min.js"></script>
    <link rel="stylesheet" href="https://d1ipfkx2xm6eh3.cloudfront.net/plugins/trello/power-up.css">
    <style>
      select { height: 30px; }
      * { text-align: center; }
    </style>
    <!--<script src="https://d1ipfkx2xm6eh3.cloudfront.net/plugins/jquery/jquery-1.7.1.min.js"></script>-->
    <!--<script src="https://d1ipfkx2xm6eh3.cloudfront.net/plugins/trello/client.js"></script>-->
    <script src="../plugins/jquery/jquery-1.7.1.min.js"></script>
    <script src="../plugins/trello/client.js"></script>
</head>
<body>
<div id="content">
    <p>Please authorize your account</p>
</div>
<button id="auth-btn" type="submit" class="mod-primary">Authorize</button>
    <!--<script src="https://d1ipfkx2xm6eh3.cloudfront.net/js/auth.js" type="text/javascript"></script>-->
    <script src="../js/auth.js" type="text/javascript"></script>
</body>
</html>