<html>
<head>
    <link rel="stylesheet" href="https://jdanque.github.io/p/trello-tree-view/plugins/trello/power-up.css">
    <script src="https://jdanque.github.io/p/trello-tree-view/plugins/trello/power-up.min.js"></script>
    <style>
      select { height: 30px; }
      * { text-align: center; }
    </style>
    <script src="https://jdanque.github.io/p/trello-tree-view/plugins/jquery/jquery-1.7.1.min.js?v=1.7.2"></script>
    <script src="https://jdanque.github.io/p/trello-tree-view/plugins/trello/client.js?v=1.7.2"></script>
</head>
<body>
<div id="content">
    <p>Please authorize your account</p>
</div>
<button id="auth-btn" type="submit" class="mod-primary">Authorize</button>
    <script src="https://jdanque.github.io/p/trello-tree-view/js/auth.js?v=1.7.2" type="text/javascript"></script>
</body>
</html>