<html>
  <head>
    <script src="../plugins/trello/power-up.min.js"></script>
    <link rel="stylesheet" href="../plugins/trello/power-up.css">
  </head>
  <body>
    <div id="content">
        <p>Select theme</p>
        <select id="theme">
            <option value="theme-trello-light-gray">Trello light gray</option>
            <option value="theme-trello-blue">Trello blue</option>
            <option value="theme-trello-green">Trello green</option>
            <option value="theme-trello-orange">Trello orange</option>
            <option value="theme-trello-red">Trello red</option>
            <!--<option value="theme-trello-yellow">Trello yellow</option>-->
            <option value="theme-trello-purple">Trello purple</option>
            <option value="theme-trello-pink">Trello pink</option>
            <option value="theme-trello-sky">Trello sky</option>
            <option value="theme-trello-lime">Trello lime</option>
        </select>
        <p>Expand up to</p>
        <select id="expandupto">
            <option value="0">Board</option>
            <option value="1" selected="selected">Lists</option>
            <option value="2">Cards</option>
        </select>
        <button id="save" class="mod-primary">Save</button>
    </div>
    <script src="../js/settings.js"></script>
  </body>
</html>
