<html>
  <head>
    <script src="../plugins/trello/power-up.min.js"></script>
    <link rel="stylesheet" href="../plugins/trello/power-up.css">
  </head>
  <body>
    <div id="content">
        <p>Select theme</p>
        <select id="theme">
          <option value="theme-trello-white">Trello White</option>
          <option value="theme-trello-blue">Trello Blue</option>
        </select>
        <button id="save" class="mod-primary">Save</button>
    </div>
    <script src="../js/settings.js"></script>
  </body>
</html>
