<html>
    <head>
        <link rel="stylesheet" href="../plugins/jquery/jquery-ui.min.css">
        <link rel="stylesheet" href="../plugins/powerups/power-up.css">
        <link rel="stylesheet" href="./treeview.css">
        <!--todo-->
        <!--<link rel="stylesheet" href="https://d1ipfkx2xm6eh3.cloudfront.net/css/all-min.css">-->

        <script src="../plugins/powerups/power-up.min.js"></script>
        <script src="../plugins/jquery/jquery-1-12-4.js"></script>
        <script src="../plugins/jquery/jquery-ui.min.js"></script>
        <script src="../client.js"></script>
        <script src="./keycodes.js"></script>
        <script src="./treeview.js"></script>
        <!--todo-->
        <!--<script src="https://d1ipfkx2xm6eh3.cloudfront.net/js/all-min.js"></script>-->
    </head>
    <body>
    <div id="maincontent">
        <div id="closetreeview" title="Close">x</div>
        <h1 class="mainheader">TreeView for <span class="boardname">Trello</span></h1>
        <div id="treeviewmain">
        </div>
    </div>
    </body>
</html>

