a.u-email {
  color: inherit;
  font-size: inherit;
}

.name {
  font-weight: 800;
  font-size: 1.214em;
  padding-bottom: 0.357em;
  color: #fff;
}
.name.title {
  font-size: 0.929em;
  padding-bottom: 0;
  font-weight: normal;
}
.name.large {
  font-size: 3.714em;
  padding-top: 1.923em;
  padding-bottom: 0.962em;
}

#intro {
  padding-bottom: 12em;
  padding-left: 5em;
  padding-right: 5em;
}
#intro .btn {
  background: rgba(255, 255, 255, 0.14);
  font-size: 1.143em;
  color: #fff;
  text-decoration: none;
  padding: 1.286em 2em;
  border-radius: 0.214em;
  display: inline-block;
}
#intro .btn .glyphicon-chevron-right {
  margin-left: 1em;
}
#intro .btn:hover {
  background: #f04;
  color: #fff;
}

.main {
  background: #fff;
  padding: 1em 5em;
}

.title-desc {
  font-weight: normal;
  font-size: 1.214em;
  letter-spacing: 0.071em;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 3em;
}

header {
  padding-top: 3em;
  padding-left: 5em;
  padding-right: 5em;
}

.nav-fixed {
  position: fixed !important;
  background: #fff;
  z-index: 2;
  top: 0;
  width: 100%;
  border-bottom: 0.071em solid #f5f5f5;
  box-shadow: 0 0.071em 0.214em rgba(51, 51, 51, 0.5);
  height: 7.143em;
}
.nav-fixed .name {
  color: #333;
}
.nav-fixed .navbar-nav > li > a {
  color: #333;
}

.bg-comp {
  background-image: url("../img/bg-comp.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#contact {
  background: #fff;
  padding-top: 2em;
}

.contactmap {
  max-width: 100%;
  max-height: 28.571em;
  height: auto;
  width: auto;
}

.avatar {
  max-width: 9.286em;
  border-radius: 50%;
  border: 0.143em solid #fff;
}

.redbox {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 0.857em;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0.643em auto 0;
  background: #f04;
  padding: 0.643em 0.714em;
  border-radius: 0.357em;
  border: 0.071em solid #bbb;
}

.social-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0.071em solid #bbb;
  border-radius: 20%;
  background-position: 50% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 1.3em;
}
.social-icon:hover {
  border-radius: 20%;
  box-shadow: 0 0 1em 0 #000;
  transition: box-shadow 400ms ease;
  transform: scale(1.2, 1.2);
}
.social-icon.fb {
  background-image: url("../img/fb.png");
}
.social-icon.twitter {
  background-image: url("../img/twitter.png");
}
.social-icon.linkedin {
  background-image: url("../img/linkedin.png");
  background-size: 90%;
  background-position: 50% 49%;
}
.social-icon.gplus {
  background-image: url("../img/googleplus.png");
  background-size: 90%;
}

.pull-top-md {
  margin-top: -4.286em;
}

footer {
  padding: 4.643em 0 4.429em;
  background: #f3f3f3;
  font-size: 0.786em;
  color: #818181;
  font-family: "open sans", "sans-serif";
  clear: both;
  text-align: center;
}
footer ul li {
  display: inline-block;
  margin: 0 1.071em;
}

.contact-form {
  padding-top: 2em;
}
.contact-form textarea {
  margin-top: 1em;
  max-width: 100%;
  resize: none;
  height: 8em;
}
.contact-form .submitMessage {
  background: 0 0;
  text-align: center;
  color: #fff;
  padding: 0.643em 2.214em;
  text-transform: uppercase;
  border: 0.071em solid #fff;
  font-size: 0.857em;
  font-weight: 700;
  font-family: "open sans", "sans-serif";
  letter-spacing: 0;
  border-radius: 0.357em;
  transition: padding 0.25s, background 0.25s;
  color: #f04;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0.786em;
  border: 0.071em solid #f65151;
}
.contact-form .submitMessage:hover {
  background: #f04;
  color: #fff !important;
}

.techstack {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ts-header {
  padding: 2em;
  border: 0.071em solid #333;
  border-bottom: 0.143em solid red;
  border-radius: 0.357em 0.357em 0 0;
  background-color: #333;
}

.ts-header-name {
  font-size: 1.3em;
  font-weight: bold;
  color: #fff;
}

.ts-content {
  background: #fff;
  padding: 0.714em;
  border: 0.071em solid #333;
  border-top: 0;
  border-radius: 0 0 0.357em 0.357em;
}

.ts-content-item {
  padding: 0.5em 0;
  cursor: pointer;
}
.ts-content-item:hover {
  transform: scale(1.1, 1.1);
}

.ts-item-icon {
  width: 2.5em;
  height: 2.5em;
  margin: 0 auto;
}
.ts-item-icon img {
  height: 2.5em;
  width: 2.5em;
}

.ts-item-name {
  text-align: center;
  color: #333;
  font-size: 0.8em;
  margin-top: 0.214em;
}

.separator {
  background-image: url("../img/separator.png");
  margin: 0 auto;
  height: 0.643em;
  width: 41.143em;
}

.project {
  padding: 3em 0;
}

.projectInfo .projectDesc {
  color: #868686;
}
.projectInfo .projectName a {
  text-decoration: none;
  transition: color 0.2s;
  color: #333;
  font-size: 3em;
  font-weight: 800;
}
.projectInfo .projectName a:hover {
  color: #f04;
}
.projectInfo .projectName a:focus {
  color: #f04;
}

.navbar-nav > li > a {
  padding-left: 2.143em;
  padding-right: 2.143em;
  font-weight: 800;
  font-size: 1.214em;
  letter-spacing: -0.071em;
  color: #fff;
}
.navbar-nav > li.active {
  border-bottom: 0.357em solid red;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: red;
  background-color: initial;
}

.contact-info ul > li {
  display: inline-block;
  margin: 0.357em;
}

/*# sourceMappingURL=main.css.map */
