body {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; }

#maincontent {
  background: #e4f0f6;
  padding: .5em;
  width: 80%;
  max-width: 600px;
  max-height: 100%;
  border-radius: 0.4em;
  position: relative; }

#treeviewmain {
  padding: 0.5em;
  padding-left: 2em;
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  height: 70%;
  overflow: auto;
  max-height: 70%;
  overflow-x: hidden;
  background-color: #0079BF; }

span.node_name {
  font-weight: bold;
  font-size: 1em;
  text-decoration: none; }
span.node_desc {
  font-weight: normal;
  font-size: 0.9em;
  text-decoration: none;
  margin-left: 0.5em;
  display: block;
  padding: 3px;
  border-radius: 2px;
  line-height: 1.1;
  color: #4D4D4D; }
span#hovermenu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  background: #bcd9ea;
  padding: 0.2em 100%;
  height: 1em;
  z-index: 100;
  opacity: 0.4; }
span.subnodes-count {
  font-size: 0.6em;
  position: relative;
  top: -0.2em;
  left: 0;
  font-weight: bold;
  margin: 0 0.5em;
  background: #0079BF;
  padding: 5px;
  color: #fff;
  border-radius: 20%; }

h1.mainheader {
  background: #026aa7;
  color: #e4f0f6;
  text-align: center;
  padding: 0.5em 1em;
  height: 1.3em;
  margin-bottom: 0;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5), 3px 2px 2px rgba(0, 0, 0, 0.9); }

ul.subnodelist {
  margin: 0;
  padding: 0.3em 0 1em 1em; }

li.nodecontainer {
  list-style: none;
  position: relative;
  padding-top: 0.2em; }
  li.nodecontainer.node-type-list {
    background-color: #e2e4e6;
    border-radius: 5px;
    padding-right: 1em;
    margin-bottom: 5px; }
    li.nodecontainer.node-type-list.grabbing {
      background-color: #e2e4e6;
      border-radius: 5px; }
  li.nodecontainer > a.nodelink {
    position: relative;
    text-decoration: none;
    display: block;
    z-index: 200;
    text-overflow: ellipsis;
    max-height: 4.3em;
    overflow: hidden;
    line-height: 1.1em;
    color: #000;
    padding: 3px;
    padding-left: 1em; }
    li.nodecontainer > a.nodelink.node-type-board {
      background: #e2e4e6;
      border-radius: 5px; }
      li.nodecontainer > a.nodelink.node-type-board.currentNode > span.node_name {
        color: #000;
        font-size: 1.5em; }
      li.nodecontainer > a.nodelink.node-type-board > span.node_name {
        color: #fff;
        font-size: 1.5em; }
    li.nodecontainer > a.nodelink.node-type-card {
      background-color: #fff;
      border-bottom: 1px solid #CDD2D4;
      border-radius: 3px; }
    li.nodecontainer > a.nodelink.currentNode {
      background-color: #bcd9ea;
      border-radius: 5px; }
    li.nodecontainer > a.nodelink:hover {
      color: #000;
      text-decoration: none; }
    li.nodecontainer > a.nodelink:focus {
      color: #000;
      text-decoration: none; }
    li.nodecontainer > a.nodelink:visited {
      color: #000;
      text-decoration: none; }
  li.nodecontainer > .expando {
    z-index: 200;
    cursor: pointer;
    top: 0.3em;
    border-style: solid;
    position: absolute;
    content: "\A"; }
    li.nodecontainer > .expando.expanded {
      content: "\A";
      border-width: 0.7em 0.7em 0 0.35em;
      border-color: transparent #ccc transparent transparent;
      left: -1.5em; }
      li.nodecontainer > .expando.expanded:hover {
        border-color: transparent #fff transparent transparent; }
    li.nodecontainer > .expando.collapsed {
      border-width: 0.25em 0 0.5em 0.5em;
      border-color: transparent transparent transparent #ccc;
      left: -0.9em; }
      li.nodecontainer > .expando.collapsed:hover {
        border-color: transparent transparent transparent #fff; }

div#closetreeview {
  position: absolute;
  font-size: 1.6em;
  background: #026aa7;
  border-radius: 50%;
  color: #fff;
  border: 2px solid #fff;
  height: 2em;
  line-height: 1.9;
  text-align: center;
  width: 2em;
  right: -1em;
  top: -1em;
  cursor: pointer; }
  div#closetreeview:hover {
    box-shadow: 1px 1px 5px #000 inset;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7); }

.list-card.placeholder {
  background-color: #C4C9CC;
  min-height: 1em;
  margin: 2px 0;
  border-radius: 5px; }

.grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

.ui-sortable-helper {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg); }

/*# sourceMappingURL=treeview.css.map */
